@model Astrowebapp.Models.FromAstroDescription


@{
    ViewBag.Title = "Astro";
}





<div class="col-md-12 row">


    <div class="form-group">
        <div class="main-card col-md-10 col-md-offset-1" style="background-color: transparent">

            <div class="table-responsive">
                <div class="container">

                    @foreach (var item in Model.channel)
                    {
                          @Html.DisplayFor(modelItem => item.channelTitle)
                            @Html.DisplayFor(modelItem => item.channelDescription)
                     }

                </div>
               
            </div>
        </div>
    </div>

</div>

