@model Astrowebapp.Models.FromAstroDescription


@{
    ViewBag.Title = "Astro";
}





<div class="col-md-12 row">


    <div class="form-group">
        <div class="main-card col-md-10 col-md-offset-1" style="background-color: transparent">

            <div class="table-responsive">
       
                <div class="container">

                    @foreach (var item in Model.channel)
                    {
                       
                            <div class="logo-box">
                                
                                <a href="@Url.Action("Description", "Home", new {id = item.channelId})">
                                    <img src="@Html.Raw(item.channelExtRef[0].value)" alt="a description of the image" width="250px" border="5">
                                    <label> <span style="color:red;font-weight:300">@Html.ActionLink(item.channelTitle,"Description", "Home", new { channelid = item.channelId }, null)</span></label>
                                </a>

                                

                            </div>
                    }

                </div>
             
            </div>
        </div>
    </div>

</div>

